@model Blank

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">@Model.FirstName @Model.SecondName <span class="text-muted">Years: @Model.Age</span></h2>
        <p class="lead">@Model.Description</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="@Model.FirstName @Model.SecondName" src="@Model.Photo" data-holder-rendered="true">
    </div>
</div>