@model Blank

<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <img class="img-thumbnail" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="@Model.FirstName @Model.SecondName" src="@Model.Photo" data-holder-rendered="true">
            <div class="card-body">
                <h2>@Model.FirstName @Model.SecondName</h2>
                <p>Years: @Model.Years</p>
                <p>@Model.Description</p>
            </div>
        </img>
    </div>
</div>