@model ChatViewModel

@{
<script type="text/javascript"> 
  function handleSubmit(event)
  {
    event.preventDefault();
    var formData = new FormData(event.target);
    fetch('/Mail/Message/@Model.Chat.Id', { method: 'POST', body: formData }).then(response => response.json());
  }
</script>
}

<div class="card mb-4 box-shadow col-md-8 order-md-1">
  <div class="media pt-3" style="display: flex; justify-content: space-between; align-items: center;">
  <form action="/Profile/Index">
    <input type="hidden" name="blankId" value="@Model.Chat.BlankId" />
    <input type="hidden" name="userId" value="@Model.Chat.AnketId" />
    <p style="margin: 0;"><button type="submit" class="btn btn-warning">Profile</button></p>
  </form>
  <p style="margin: 0;">@Model.Blank.FirstName @Model.Blank.SecondName</p>
  <form action="/Mail/DeleteChat">
    <input type="hidden" name="blankId" value="@Model.Chat.BlankId" />
    <input type="hidden" name="anketId" value="@Model.Chat.AnketId" />
    <p style="margin: 0;"><button type="submit" class="btn btn-warning">Delete</button></p>
  </form>
</div>
  <hr/>
<!-- CHAT BAR BLOCK -->
  <div class="chat-bar-collapsible">
    <div class="full-chat-block">
      <!-- Message Container -->
      <div class="outer-container">
        <div class="chat-container">
          <!-- Messages -->
            <div id="chatbox">
                <h5 id="chat-timestamp"></h5>
                <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
            </div>

            <div class="chat-bar-input-block">

            <!--<div id="userInput">
                <input id="textInput" class="input-box" type="text" name="msg">
                <p></p>
            </div>

            <div class="chat-bar-icons">
                <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send" onclick="sendButton()"></i>
            </div>-->
            <form id="myForm" action="/Mail/Message" method="POST">
            <div id="userInput">
              <input type="hidden" name="id" value="@Model.Blank.Id">
              <input id="textInput" class="input-box" type="text" name="msg">
              <p></p>
            </div>

            <input type="hidden" name="message" id="message">
            
            <div class="chat-bar-icons">
              <button id="chat-button" style="color: #333;" type="button" onclick="sendButton()">
                <i id="chat-icon" class="fa fa-fw fa-send"></i>
              </button>
            </div>
          </form>

          </div>

          <div id="chat-bar-bottom">
            <p></p>
          </div>

        </div>
      </div>

    </div>
  </div>

  </br>
  
</div>